* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0b0f14;
  color: #fff;
}

.container {
  padding: 1rem 1.5rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

/* Tablet and larger screens */
@media screen and (min-width: 768px) {
  .container {
    padding: 1rem 3rem;
  }
  .title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 1rem 6rem;
  }
  .title {
    font-size: 3rem;
  }
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  width: 100%;
  height: auto;
  z-index: 9999;
  background-color: #0b0f14;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo img {
  height: 100%;
  width: 75px;
}

header .logo a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  header .logo a {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  header .logo a {
    font-size: 20px;
  }
}

header nav {
  display: none;
  align-items: center;
  gap: 60px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s linear;
}

@media screen and (min-width: 1024px) {
  header nav {
    display: flex;
    gap: 40px;
  }
  header nav a {
    font-size: 18px;
  }
}

header nav a::after {
  content: "";
  display: block;
  border-bottom: 1px solid #fff;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s linear;
}

header nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s linear;
}

header .extra-nav {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 1024px) {
  header .extra-nav {
    display: flex;
  }
}

header .extra-nav button {
  cursor: pointer;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 12px;
  transition: 0.3s linear;
}

@media screen and (min-width: 1024px) {
  header .extra-nav button {
    font-size: 18px;
    padding: 10px 12px;
  }
}

header .extra-nav button:hover {
  background: #fff;
  color: #000;
  transition: 0.3s linear;
}

header .hamburger-menu {
  cursor: pointer;
  display: block;
}

@media screen and (min-width: 1024px) {
  header .hamburger-menu {
    display: none;
  }
}

header .mobile-nav {
  display: none;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.hero .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.hero .container .content svg {
  margin-bottom: -1rem;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.hero .container .content svg text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  animation: stroke 5s infinite alternate;
}

@media screen and (min-width: 768px) {
  .hero .container .content svg {
    margin-bottom: -2rem;
  }
  .hero .container .content svg text {
    font-size: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .container .content svg {
    margin-bottom: -4rem;
  }
  .hero .container .content svg text {
    font-size: 132px;
  }
}

.hero .container .content h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  width: 100%;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .hero .container .content h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero .container .content h1 {
    font-size: 2.2rem;
    line-height: 48px;
  }
}

.hero .container .content h1 span {
  background: #fff;
  color: #000;
  font-weight: bold;
  padding: 4px;
  border-radius: 8px;
}

.hero .container .content button {
  cursor: pointer;
  padding: 0.1em 0.25em;
  width: 12em;
  height: 3.5em;
  color: #fff;
  background-color: #000;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 11px;
  margin-top: 20px;
}

.hero .container .content button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 7.5em;
  height: 2em;
  background-color: #000;
  border-radius: 0.2em;
  font-size: 1.5em;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

@media screen and (min-width: 640px) {
  .hero .container .content button {
    width: 13em;
    height: 4em;
    font-size: 12px;
  }
  .hero .container .content button span {
    width: 8em;
    height: 2.3em;
  }
}

@media screen and (min-width: 1024px) {
  .hero .container .content button {
    width: 13em;
    height: 4.2em;
  }
  .hero .container .content button span {
    width: 8.25em;
    height: 2.5em;
  }
}



.about .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.about .container .content .about-me {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about .container .content .about-me .profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .container .content .about-me .profile .image-box {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #fff;
  border-radius: 16px;
}

.about .container .content .about-me .profile .image-box img {
  width: auto;
  display: block;
  max-width: 200px;
  border-radius: 12px;
}

.about .container .content .about-me .description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .about .container .content .about-me {
    flex-direction: row;
    gap: 12px;
  }
  .about .container .content .about-me .profile {
    width: 50%;
  }
  .about .container .content .about-me .profile .image-box img {
    max-width: 250px;
  }
  .about .container .content .about-me .description {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .about .container .content .about-me .profile .image-box img {
    max-width: 300px;
  }
}

.about .container .content .about-me .description .name-role h1 {
  font-weight: bold;
  font-size: 1.8rem;
}

.about .container .content .about-me .description .name-role .role {
  width: 100%;
  display: flex;
}

.about .container .content .about-me .description .name-role .role h2 {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 4px 6px;
  background-color: #fff;
  border-radius: 8px;
  color: #000;
}

.about .container .content .about-me .description p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .about .container .content .about-me .description .name-role h1 {
    font-size: 2.5rem;
  }
  .about .container .content .about-me .description .name-role .role h2 {
    font-size: 1.5rem;
  }
  .about .container .content .about-me .description p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .about .container .content .about-me .description .name-role h1 {
    font-size: 3rem;
  }
  .about .container .content .about-me .description .name-role .role h2 {
    font-size: 2rem;
  }
  .about .container .content .about-me .description p {
    font-size: 1.2rem;
  }
}

.about,
.skill,
.project,
.contact {
  padding: 3rem 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about,
  .skill,
  .project,
  .contact {
    padding: 4rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .about,
  .skill,
  .project,
  .contact {
    padding: 6rem 0;
  }
}

.skill .container .content,
.project .container .content,
.contact .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  width: 100%;
}

.skill .container .content .skills {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 90%;
}

@media screen and (min-width: 640px) {
  .skill .container .content .skills {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .skill .container .content .skills {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 85%;
  }
}

@media screen and (min-width: 1280px) {
  .skill .container .content .skills {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    width: 80%;
  }
}

.skill .container .content .skills .skill-box {
  padding: 4px;
  border: 2px solid #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  filter: grayscale(100);
  transition: all 0.2s linear;
}

@media screen and (min-width: 768px) {
  .skill .container .content .skills .skill-box {
    height: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .skill .container .content .skills .skill-box {
    height: 100px;
  }
}

.skill .container .content .skills .skill-box:hover {
  filter: grayscale(0);
  transform: scale(1.02);
  transition: all 0.2s linear;
}

.skill .container .content .skills .skill-box img {
  width: 100%;
  height: 75%;
}

.project .container .content .projects {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: start;
  justify-content: center;
  gap: 20px;
  width: 95%;
}

@media screen and (min-width: 768px) {
  .project .container .content .projects {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .project .container .content .projects {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 85%;
  }
}

.project .container .content .projects .card {
  padding: 12px;
  border: 2px solid #fff;
  border-radius: 12px;
  vertical-align: top;
}

.project .container .content .projects .card img {
  width: 100%;
  height: auto;
}

.project .container .content .projects .card .description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project .container .content .projects .card .description h1 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 8px;
}

.project .container .content .projects .card .description p {
  font-size: 0.95rem;
  font-weight: 400;
  text-align: justify;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .project .container .content .projects .card .description h1 {
    font-size: 1.5rem;
  }
  .project .container .content .projects .card .description p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .project .container .content .projects .card {
    padding: 16px;
  }
  .project .container .content .projects .card .description h1 {
    font-size: 28px;
  }
  .project .container .content .projects .card .description p {
    font-size: 18px;
  }
}

.project .container .content .projects .card .description .action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.project .container .content .projects .card .description .action button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 12px;
  background: transparent;
  color: #fff;
  width: 48%;
  font-size: 0.9rem;
  transition: 0.3s linear;
}

@media screen and (min-width: 768px) {
  .project .container .content .projects .card .description .action button {
    width: 30%;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .project .container .content .projects .card .description .action button {
    width: 25%;
  }
}

.project .container .content .projects .card .description .action button:hover {
  background: #fff;
  color: #000;
  transition: 0.3s linear;
}

.contact .container .content .contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  width: 95%;
  max-width: 600px;
  border: 4px solid #fff;
  border-radius: 20px;
}

.contact .container .content .contact-form .input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact .container .content .contact-form .input input {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
}

.contact .container .content .contact-form .input input:focus {
  outline: none;
}

.contact .container .content .contact-form textarea {
  resize: none;
  padding: 12px;
  height: 200px;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
}

.contact .container .content .contact-form textarea:focus {
  outline: none;
}

.contact .container .content .contact-form button {
  cursor: pointer;
  padding: 12px;
  border: 2px solid #fff;
  border-radius: 8px;
  background: transparent;
  color: #fff;
  width: 100%;
  max-width: 200px;
  align-self: center;
  font-size: 1rem;
  transition: 0.3s linear;
}

@media screen and (min-width: 768px) {
  .contact .container .content .contact-form {
    width: 80%;
    padding: 20px;
  }
  .contact .container .content .contact-form .input {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact .container .content .contact-form .input input {
    width: 49%;
  }
  .contact .container .content .contact-form textarea {
    height: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .contact .container .content .contact-form {
    width: 50%;
  }
  .contact .container .content .contact-form button {
    width: 30%;
  }
}

.contact .container .content .contact-form button:hover {
  background: #fff;
  color: #000;
  transition: 0.3s linear;
}


@keyframes stroke {
  0% {
    stroke: white;
    stroke-width: 0;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
  }
  70% {
    stroke: white;
  }
  80% {
    stroke: white;
    stroke-width: 3;
  }
  100% {
    stroke: white;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
  }
}

@media screen and (max-width: 1536px) {
  footer .container {
    gap: 2rem;
  }
  footer .container .link-container {
    gap: 2rem;
  }
}

@media screen and (max-width: 1023px) {
  header .logo a h2 {
    font-size: 18px;
  }

  header .mobile-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    height: 100vh;
    background-color: #000;
    z-index: 999;
    transition: all 0.2s linear;
  }

  header .mobile-nav.show {
    transform: translateY(0);
    transition: all 0.2s linear;
  }

  header .mobile-nav .close {
    position: absolute;
    top: 24px;
    right: 16px;
    display: flex;
    justify-content: end;
    width: 100%;
  }

  header .mobile-nav .close svg {
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  header .mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
  }

  header .mobile-nav ul li {
    cursor: pointer;
    position: relative;
    list-style: none;
    width: 25%;
  }

  header .mobile-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    transition: 0.3s linear;
  }

  @media screen and (min-width: 768px) {
    header .mobile-nav ul li a {
      font-size: 28px;
    }
  }

  header .mobile-nav ul li .nav-link::after {
    content: "";
    display: block;
    border-bottom: 1px solid #fff;
    width: 0%;
    transition: 0.3s linear;
  }

  header .mobile-nav ul li:hover .nav-link::after {
    width: 100%;
    transition: 0.3s linear;
  }

  footer .container .link-container .information ul li::after,
  footer .container .link-container .resource ul li::after,
  footer .container .link-container .navigation ul li::after {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  header .mobile-nav ul li {
    width: 60%;
  }

  footer .container {
    padding: 1rem 2rem;
  }
  footer .container .profile {
    width: 50%;
  }
  footer .container .link-container {
    flex-direction: column;
    width: 100%;
  }

  footer .container .link-container .information ul li::after,
  footer .container .link-container .resource ul li::after,
  footer .container .link-container .navigation ul li::after {
    width: 100%;
  }
}

@media screen and (max-width: 610px) {
  footer .container .profile,
  footer .container .link-container {
    width: 100%;
  }

  footer .container .link-container .information,
  footer .container .link-container .resource,
  footer .container .link-container .navigation {
    width: 30%;
  }
}

@media screen and (max-width: 450px) {
  header .mobile-nav ul li {
    width: 50%;
  }

  footer .container .link-container .information,
  footer .container .link-container .resource,
  footer .container .link-container .navigation {
    width: 50%;
  }
}
